.App {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.card {
  width: 20rem;
  height: 15rem;
  margin: 0%;
  background: #928f8d;
}

.text {
  text-align: right;
  text-decoration: black;
}

.danger {
  background-color: #f5913e;
}

.background {
  background-color: #d9dbeb;
}
